/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 25vh;
}
.player{
  width: 560px;
  margin: auto;
}
.hidden{
  display: none;
}

.movieCurtains{
  height: 50vh;
  background-image: url('../img/curtains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.columns{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
  background-color: black;
}
h1{
  color: white;
}